{{!< layout/default}}
<div id="header">
    <h1 class="headline">Magic&#8203;Word</h1>
    <p class="tagline">Rewarding user engagement, community building and fostering terrific content.</p>
    <form action="#">
        <input class="magicword" type="text" placeholder="The magic word is..."><input type="submit" class="submit" disabled value="Coming soon" />
    </form>
</div>
<div id="content">
    <h2>A little more</h2>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem</p>
    <h2>What about</h2>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem</p>
</div>
